/* body */
#questionPage {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: #DAECF3;
}

/* header */

#questionPage h1 {
    font-size: 24px;
    margin: 0 auto;
    margin-left: 41vw;
    margin-top: 5vh;
}

#questionPage header {
    position: absolute;
    width: 100%;
    text-align: center;
    display: grid;
}

/* The progressbar */
.progressbar {
    display: flex;
    margin: 10px auto;
}

.circle {
    width: 20px;
    height: 20px;
    background: #DAECF3;
    border-radius: 15px;
    margin-left: 10px;
}

.marked {
    background: #022D41;
}

/* Main page */

.questionVSanswers {
    display: flex;
    min-height: 100vh;

}

#questionPage h2{
    margin: 10vh auto;
    text-align: center;
    font-size: 48px;
}

.backButton {
    position: absolute;
    width: 97.5px;
    height: 42px;
    bottom: 5vh;
    left: 3vw;
    border-radius: 15px;
    color: #407D47;
    font-weight: bolder;
    font-size: 25px;
    background-color: #DAECF3;
}
.backButton:active, #backButton:hover {
    color: #DAECF3;
    background-color: #B4B644 ;
}
.question {
    background: #407D47;
    padding: 25vh 0;
    width: 50vw;
}

/* ANSWERS */ 
/*knap design fra - https://codepen.io/willpaige/pen/qjczo*/ 
button {
    outline:none;
}
.answers {
    display: flex; 
    flex-direction: column;
    padding-top: 16vh; 
    margin: 0;
    min-width: 50vw;
    background-image: url("green.png");
}

.answers button {
    border: none;
    outline:none;
    margin: 0 auto 20px auto;    
    border-radius: 25px;
    width: 35vw;
    max-width: 300px;
    height: 11vh;
    background-color: #DAECF3;
    color: #407D47;
    font-size: 30px;  
    box-shadow: 10px 9px 12px 2px rgba(64,125,71,0.96);
    letter-spacing: 2px;
    text-decoration: none;
    text-shadow: -1px -1px 1px #0e501e,1px 1px 1px #6fad73;
    color: #407D47;
}

.answers button:hover {  
    box-shadow: 5px 4px 10px 1px rgba(64,125,71,0.96);
}
/*bounce med hjælp fra - https://codepen.io/dagmarfrida/pen/NWGvpwO*/
.transition:active {  
        animation: shrink .4s ease-in-out;
      }
        @keyframes shrink {
        0% { 
          transform: scale(1); 
        }
        25% {
            transform: scale(0.85);
        } 
        50% { 
          transform: scale(1); 
        }
        75% {
            transform: scale(0.85);
        }
        100% {
          transform: scale(1); 
        }
      }
   

        /* ANIMATE THE BUTTON */
        
.transition,
.transition:hover{
  -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.answers button:focus {
    color: #DAECF3;
    background-color: #407D47;
    box-shadow: none
}
#btn_1, #btn_2, #btn_3, #btn_4, #btn_5, #btn_6, #btn_7, #btn_8, #btn_9, #btn_10 {
    width: 97.5px;
    height: 42px;
    border-radius: 15px;
    font-weight: bolder;
    font-size: 25px;
    text-shadow: none;
    box-shadow: none;
    background-color: #407D47;
    color: #DAECF3;
    position: absolute;
    right: 3vw;
    bottom: 5vh;
    }

/* responsive to mobile */
@media screen and (max-width: 551px) {
    .answers button {
      font-size: 20px;
    }
    #questionPage h2 {
        font-size: 30px;
        margin: 19vh auto;  
    }
}