*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  
}
body {
  background-image: url(/fotos/Background_forside.png);
}
    /*BACKGROUND */
.photo__forside {
  height: 100vh;
  width: 50vw;
  top: 0;
}
.photo__forside img {
  height: 100%;
  width: 100%;
  
}

.frogFeet {
  display: grid;
  grid-template-columns: repeat(4, 25vw);
  grid-template-rows: repeat(4, 25vh);
}

/*SPEECH BUBBLE - https://codepen.io/run-time/pen/VNRBJd */
.speechBubble {
  font-size: 24px;
  position: absolute;
  width: 45vw;
  height: 34vh;
  left: 33vw;
  top: 10px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  grid-column-start: 2;
  grid-row-start: 1;
  border-radius: 40px;
  padding: 24px;
  text-align: center;
  color: #000;
  position: absolute;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2em;
  line-height: normal;
}

.speechBubble h3 {
  font-size: 1.5em;
  margin-top: .3em;
}
.speechBubble:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 80px solid #fff;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 80px solid transparent;
  left: 32px;
  bottom: -80px;
}

/*BLOB BUTTON - https://codepen.io/hilwat/pen/BeemVX*/
.button {
  grid-column: 3 / span 2; 
  grid-row-start: 4;
  margin-top: 0px;
  text-align: right;
  border-radius: 30px;
  justify-self: center;
}

.blob-btn {
  position: absolute;
  width: 28vw;
  height: 10vh;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  position: relative;
  padding: 5px 46px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-size: 48px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 20px;
}

.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 9px;
  top: 9px;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}

.blob-btn:hover {
  color: #FFFFFF;
  border-radius: 30px;
}

.blob-btn:hover:after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 20px;
}

.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #ffffff;
}

.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  -webkit-filter: url("#goo");
          filter: url("#goo");
}

.blob-btn__blob {
  position: absolute;
  top: 6px;
  width: 30%;
  height: 100%;
  background: #B81365;
  border-radius: 50%;
  -webkit-transform: translate3d(0, 150%, 0) scale(1.7);
          transform: translate3d(0, 150%, 0) scale(1.7);
  -webkit-transition: -webkit-transform 0.45s;
  transition: -webkit-transform 0.45s;
  transition: transform 0.45s;
  transition: transform 0.45s, -webkit-transform 0.45s;
}

@supports ((-webkit-filter: url("#goo")) or (filter: url("#goo"))) {
  .blob-btn__blob {
    -webkit-transform: translate3d(0, 150%, 0) scale(1.4);
            transform: translate3d(0, 150%, 0) scale(1.4);
  }
}

.blob-btn__blob:nth-child(1) {
  left: 0%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.blob-btn__blob:nth-child(2) {
  left: 30%;
  -webkit-transition-delay: 0.08s;
          transition-delay: 0.08s;
}

.blob-btn__blob:nth-child(3) {
  left: 60%;
  -webkit-transition-delay: 0.16s;
          transition-delay: 0.16s;
}

.blob-btn__blob:nth-child(4) {
  left: 90%;
  -webkit-transition-delay: 0.24s;
          transition-delay: 0.24s;
}

.blob-btn:hover .blob-btn__blob {
  -webkit-transform: translateZ(0) scale(1.7);
          transform: translateZ(0) scale(1.7);
}

@supports ((-webkit-filter: url("#goo")) or (filter: url("#goo"))) {
  .blob-btn:hover .blob-btn__blob {
    -webkit-transform: translateZ(0) scale(1.4);
            transform: translateZ(0) scale(1.4);
  }
}
@media screen and (min-width: 1296px) {
  .speechBubble {
    width: 33vw;
    height: 35vh;
    left: 33vw;
    top: 1em;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    grid-column-start: 2;
    grid-row-start: 1;
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: #000;
    position: absolute;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2em;
    line-height: normal;

}
.speechBubble h3 {
  font-size: 1.5em;
  margin-top: .5em;
}
}
@media screen and (max-width: 950px) {
  .speechBubble {
  font-size: 22px;
  line-height: normal;
  height: 22vh;
  top: 5em;
  width: 50vw;
  left: 25vw;
}
.speechBubble h3 {
  font-size: 30px;
}
.blob-btn {
  font-size: 30px;
}
.speechBubble:before {
  border-left: 60px solid #fff;
  border-bottom: 60px solid transparent;
  bottom: -60px;
}
}

/*# sourceMappingURL=styles.css.map */