*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}
body {
  background-image: url(/fotos/Background_forside.png);
}
    /*BACKGROUND */
.photo__forside {
  height: 100vh;
  width: 50vw;
  top: 0;
}
.photo__forside img {
  height: 100%;
  width: 100%;
  
}
.frogFeet {
  display: grid;
  grid-template-columns: repeat(4, 25vw);
  grid-template-rows: repeat(4, 25vh);
}

/*Speech bubble - https://codepen.io/run-time/pen/VNRBJd */
.speechBubble {
  margin: auto;
  position: relative;
  top: 1em;
	background: white;
  border-radius: 40px;
  width: 45vw;
  height: 34vh;
  box-shadow: 10px 9px 12px 2px rgba(0,0,0,0.40);
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 2em;
  line-height: normal;
  padding: 10px;
}

.speechBubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 20%;
	width: 0;
	height: 0;
	border: 34px solid transparent;
	border-top-color: white;
	border-bottom: 0;
	border-left: 0;
	margin-left: -17px;
    margin-bottom: -34px;
}
.speechBubble h3 {
  font-size: 1.5em;
  margin-top: .4em;
}

/*Blob button - https://codepen.io/hilwat/pen/BeemVX*/
.button {
  grid-column: 3 / span 2; 
  grid-row-start: 4;
  margin-top: 0px;
  text-align: right;
  border-radius: 10px;
  justify-self: center;
}

.blob-btn {
  $numberOfBlobs: 4;
  position: absolute;
  width: 28vw;
  height: 10vh;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  position: relative;
  padding: 10px 46px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-size: 48px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 20px;
}

.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 9px;
  top: 9px;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
  border-radius: 20px;
}

.blob-btn:hover {
  color: #FFFFFF;
  border-radius: 20px;
}

.blob-btn:hover:after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 20px;
}

.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #ffffff;
}

.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  -webkit-filter: url("#goo");
          filter: url("#goo");
}

.blob-btn__blob {
  position: absolute;
  top: 6px;
  width: 30%;
  height: 100%;
  background: #B81365;
  border-radius: 50%;
  -webkit-transform: translate3d(0, 150%, 0) scale(1.7);
          transform: translate3d(0, 150%, 0) scale(1.7);
  -webkit-transition: -webkit-transform 0.45s;
  transition: -webkit-transform 0.45s;
  transition: transform 0.45s;
  transition: transform 0.45s, -webkit-transform 0.45s;
}

@supports ((-webkit-filter: url("#goo")) or (filter: url("#goo"))) {
  .blob-btn__blob {
    -webkit-transform: translate3d(0, 150%, 0) scale(1.4);
            transform: translate3d(0, 150%, 0) scale(1.4);
  }
}

.blob-btn__blob:nth-child(1) {
  left: 0%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.blob-btn__blob:nth-child(2) {
  left: 30%;
  -webkit-transition-delay: 0.08s;
          transition-delay: 0.08s;
}

.blob-btn__blob:nth-child(3) {
  left: 60%;
  -webkit-transition-delay: 0.16s;
          transition-delay: 0.16s;
}

.blob-btn__blob:nth-child(4) {
  left: 90%;
  -webkit-transition-delay: 0.24s;
          transition-delay: 0.24s;
}

.blob-btn:hover .blob-btn__blob {
  -webkit-transform: translateZ(0) scale(1.7);
          transform: translateZ(0) scale(1.7);
}

@supports ((-webkit-filter: url("#goo")) or (filter: url("#goo"))) {
  .blob-btn:hover .blob-btn__blob {
    -webkit-transform: translateZ(0) scale(1.4);
            transform: translateZ(0) scale(1.4);
  }
}

/*Frog start animation*/

picture img{
  width: 70%;
  height: auto;
  position: absolute;
  left: 10%;
  top: 10%;
  z-index: +1; 
}
.speechBubble{
  z-index: -1;
}
.photo__forside{
  z-index: -1;
}
@media screen and (min-width: 737px) {
  .speechBubble {
    width: 48vw;
    height: 36vh;
    max-height: 300px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 24px;
    color: #000;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2em;
    line-height: normal;

}
.speechBubble h3 {
font-size: 1.5em;
  margin-top: .5em;
}
}
@media screen and (max-width: 450px) {
  .speechBubble {
  font-size: 16px;
  line-height: normal;
  width: 70vw;
  margin: auto;
  height: 22vh;
  top: 6em;
  
}
.speechBubble h3 {
  font-size: 25px;
}

.button {
  margin-top: 0px;
  text-align: center;
  justify-self: center;
}
.blob-btn {
  width: 35vw;
  height: 7vh;
  position: relative;
  padding: 10px;
  text-transform: uppercase;
  color: #000000;
  font-size: 22px;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 10px;
}
}


/*# sourceMappingURL=styles.css.map */